<div class="navbar-default">
	<div class="container">
		<div class="header">
			<h2>知乎</h2>
		</div>

		<div class="search">
			<input type="text" placeholder="搜索问题、话题或人">
			<label class="btn btn-primary">搜索</label>
		</div>

		<div class="content">
			<ul>
				<li ui-sref-active="active"><a ui-sref="home">{{NavbarController.menu.home}}</a></li>
				<li ui-sref-active="active"><a ui-sref="topic">{{NavbarController.menu.topic}}</a></li>
				<li>{{NavbarController.menu.find}}</li>
				<li>{{NavbarController.menu.message}}</li>
			</ul>
		</div>

		<div class="question">
			<label class="btn btn-primary">提问</label>
		</div>

		<div class="my-info">
			
		</div>
	</div>
</div>