<div class="active-users">
	<div class="header">我们推荐您关注这些人<span>换一批</span></div>
	<div class="content">
		<div class="user-info">
			<div class="user-main">
				<img width="40px" height="40px" src="#">
				<div class="user">
					<span id="username">{{ ActiveUserController.username }}</span>
					<span>{{ ActiveUserController.number }}个回答</span>
				</div>
				<div class="motto">{{ ActiveUserController.motto }}</div>
			</div>

			<div class="field">
				{{ ActiveUserController.field }}
			</div>
			<span class="btn, btn-primary">关注</span>
		</div>
	</div>
</div>