@require "colors"

body
  font-family: "Hiragino Sans GB"

.app
  width: 700px
  margin: 100px auto
  text-align: center

.app__icons
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  > div
    width: 200px
    height: 200px
    margin: 20px 0
    border: solid 1px #F5676C
    border-radius: 10px
    box-sizing: border-box
    display: flex
    align-items: center
    justify-content: space-around
    cursor: pointer
    > i
      font-size: 60px
      color: #F5676C
